<!--Card Joined and Joined-->
<div class="row">
    <div class="col-xl-5 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Joined</div>
            <div class="card-footer text-center ">
                <h4 class="mt-2 ">{{count_joined}}</h4>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Not Joined</div>
            <div class="card-footer text-center ">
                <h4 class="mt-2 ">{{count_not_joined}}</h4>
            </div>
        </div>
    </div>
</div>
<!--End Card Churn dan No Churn-->